@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

.toast {
    position: fixed;
    top: 80px;
    left: 40%;
    /* transform: translateX(-50%); */
    background-color: #dbf4e9;
    color: #327756;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #327756;
    opacity: 0;
    /* transition: opacity 0.3s ease-in-out; */
    animation: slideDown 0.5s ease forwards;
    z-index: 999;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .toast-content {
    display: inline-block;
    margin-right: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    color: #070000;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .toast.show {
    opacity: 1;
  }
  
  .toast.hide {
    opacity: 0;
  }
  